%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {multipart: true }) do |f|
  = devise_error_messages!
  %div
    = f.label :first_name
    %br/
    = f.text_field :first_name
  %div
    = f.label :last_name
    %br/
    = f.text_field :last_name
  %div
    = f.label :phone_number
    %br/
    = f.text_field :phone
  %div
    = f.label :country
    %br/
    = select_field(f, resource, :country_id, countries, "id",    |
        "name", 'select your country', 'select')
  %div
    = f.label :email
    %br/
    = f.email_field :email
  %div
    = f.label :password
    %br/
    = f.password_field :password
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %div
    = f.label :avatar, "choose your avatar"
    %br/
    = f.file_field :avatar, :class => 'file_field'
  %div= f.submit "Sign up"
= render "devise/shared/links"
