- model_class = Classified
%fieldset
  %legend= t'const.search'
  = form_for @search, :url => home_path, :html => {method: :get,            |
    :class => 'form-horizontal'} do |s|
    = s.text_field :title_contains, placeholder: (t 'const.title')
    %br    
    = s.radio_button :kind_eq, Classified::KINDS[0], checked: true
    = s.label :kind, Classified::KINDS[0], :class => 'inline-label'
    = s.radio_button :kind_eq, Classified::KINDS[1]
    = s.label :kind, Classified::KINDS[1], :class => 'inline-label'
    %br
    = s.text_field :country_name_contains, placeholder: (t 'const.location')
    %br    
    %strong= t('const.refine_search')
    %br
    = select_field(s, @search, :main_category_id_eq, main_categories,   |
      'id', 'name','main category', 'select', true)
    = render('classifieds/sub_category_select', sub_categories: sub_categories(@search.main_category_id_eq), name: 'search[sub_category_id_eq]', selected_category: @search.sub_category_id_eq, element_id: 'search_sub_category_id_eq')
    %br
    = s.text_field :price_gte, placeholder: (t 'const.min_price')
    = s.text_field :price_lte, placeholder: (t 'const.max_price')
    %br
    = s.text_field :created_at_or_updated_at_gte,                   |
      value: @search.created_at_or_updated_at_gte.try(:to_date), |
      :class => 'date', placeholder: (t 'const.posted_on_or_after')
    %br   
    = s.submit

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:image)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:category)
      %th= model_class.human_attribute_name(:kind)
      %th= sortable(Classified, model_class.human_attribute_name(:price))
      %th= sortable(Classified, model_class.human_attribute_name(:created_at))
      %th= model_class.human_attribute_name(:Share)
  %tbody
    - @classifieds.each do |classified|
      %tr
        %td= link_to image_tag(classified.attachments.first.try(:file).try(:url,:thumb)), classified_path(classified)
        %td= classified.title
        %td
          = classified.main_category.name
          %br
          = classified.sub_category.name
        %td= classified.kind
        %td= format_price classified
        %td= l classified.created_at.to_date
        %td
          = link_to image_tag(''), "http://facebook.com/sharer.php?u=#{classified_url classified}", target: '_blank'
          = link_to image_tag(''), "https://twitter.com/share?url=#{classified_url classified}&text=#{classified.title}", target: '_blank'
          = link_to image_tag(''), "http://linkedin.com/shareArticle?url=#{classified_url classified}", target: '_blank'

= will_paginate(@classifieds)
        