- @sub_categories ||= []  

- content_for :pre_head do
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDpqZNzU0SeaUhvgT6IA0uw0YJ2RqxkVDM&sensor=false">
  </script>

%div#googleMap
:javascript
  $(function(){
    initializeMap(#{@classified.latitude}, #{@classified.longitude});
  });  

= form_for @classified, :html => { :class => 'form-horizontal test', multipart: true } do |f|
      
  = f.error_messages

  = f.hidden_field :latitude
  = f.hidden_field :longitude

  .control-group
    = f.label :kind, :class => 'control-label'
    .controls
      = f.radio_button :kind, Classified::KINDS[0], checked: true
      = f.label :wanted, t("const.#{Classified::KINDS[0].downcase}"), :class => 'inline-label'
      = f.radio_button :kind, Classified::KINDS[1]
      = f.label :for_sale, t("const.#{Classified::KINDS[1].downcase}"), :class => 'inline-label'
  .control-group
    = f.label :main_category_id, :class => 'control-label'
    .controls
      = select_field(f, @classified, :main_category_id, main_categories, "id",    |
        "name", t('const.main_category'), 'select')
  .control-group
    = f.label :sub_category_id, :class => 'control-label'
    .controls
      = render('sub_category_select', sub_categories: @sub_categories, |
        selected_category: @classified.sub_category_id,                |
        name: 'classified[sub_category_id]', element_id: 'classified_sub_category_id')
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area'
  .control-group
    = f.label :price, :class => 'control-label'
    .controls
      = f.number_field :price, :class => 'number_field', step: 0.01
      = select_field(f, @classified, :currency_id, currencies, "id",    |
        "name", 'currency', 'select')
  .control-group
    = f.label :phone, :class => 'control-label'
    .controls
      = f.text_field :phone, :class => 'text_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label :country_id, :class => 'control-label'
    .controls
      = select_field(f, @classified, :country_id, locations, "id",    |
        "name", 'Select country', 'select')
  .control-group
    = f.label :tags, :class => 'control-label'
    .controls
      = f.text_field :tags, :class => 'text_field'
  = f.fields_for :attachments do |b|
    .control-group
      = b.label :photo, :class => 'control-label'
      .controls
        = b.file_field :file, :class => 'file_field'
  - unless @classified.persisted?
    %label
      =check_box_tag 'facebook_share', "1", false,                |
        disabled: current_user.can_share_on?(:facebook)? false : true
      %i share on facebook

    %label
      =check_box_tag 'twitter_share', "1", false,                |
        disabled: current_user.can_share_on?(:twitter)? false : true
      %i share on twitter

    %label
      =check_box_tag 'linkedin_share', "1", false,                |
        disabled: current_user.can_share_on?(:linkedin)? false : true
      %i share on linkedin

    %label connect to more networks to spread the word

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      classifieds_path, :class => 'btn'                            |
