<%= form_for @classified, :html => { :class => 'form-horizontal' } do |f| %>

  <% @sub_categories ||= [] %>
  <% if @classified.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@classified.errors.count, "error") %>
        prohibited this classified from being saved:
      </h2>

      <ul>
      <% @classified.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
      <%= f.label :kind, :class => 'control-label' %>
      <div class="controls">
        <%= f.radio_button :kind, Classified::KINDS[0], checked: true%>
        <%= f.label :kind, Classified::KINDS[0], :class => 'inline' %>
        <%= f.radio_button :kind, Classified::KINDS[1]%>
        <%= f.label :kind, Classified::KINDS[1], :class => 'inline' %>
      </div>
  </div>
  <div class="control-group">
    <%= f.label :main_category, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :main_category_id,
        options_from_collection_for_select(get_main_categories,"id","name"),
         prompt: 'Select main category', :class => 'select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sub_category, :class => 'control-label' %>
    <div class="controls">
      <%= render('sub_category_select', sub_categories: @sub_categories,
       selected_category: @classified.sub_category_id) %>      
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :price, :class => 'number_field', step: 0.01 %>
    </div>
  </div>
  
  <%= f.fields_for :attachments do |b| %>
    <div class="control-group">
      <%= b.label :photo, :class => 'control-label' %>
      <div class="controls">
        <%= b.file_field :file, :class => 'file_field' %>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                classifieds_path, :class => 'btn' %>
  </div>
<% end %>

