%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:kind)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:main_category)
      %th= model_class.human_attribute_name(:sub_category)
      %th= model_class.human_attribute_name(:description)
      -if params[:order_by] == 'price DESC'
        %th= link_to model_class.human_attribute_name(:price),      |
          {order_by: 'price'}
      -else
        %th= link_to model_class.human_attribute_name(:price),      |
          {order_by: 'price DESC'}
      %th= model_class.human_attribute_name(:creator)
      -if params[:order_by] == 'created_at DESC'
        %th= link_to model_class.human_attribute_name(:created_at),  |
          {order_by: 'created_at'}
      -else
        %th= link_to model_class.human_attribute_name(:created_at),  |
          {order_by: 'created_at DESC'}
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @classifieds.each do |classified|
      %tr
        %td= link_to classified.id, classified_path(classified)
        %td= classified.kind
        %td= classified.title
        %td= classified.main_category.name
        %td= classified.sub_category.name
        %td= classified.description
        %td= format_price classified
        %td= "#{classified.user.first_name} #{classified.user.last_name}"
        %td= l classified.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")),   |
            edit_classified_path(classified), :class => 'btn btn-mini' 

          = link_to t('.destroy', :default => t("helpers.links.destroy")),   |
            classified_path(classified), :method => :delete,                 |
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm",  |
            :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), |
  new_classified_path, :class => 'btn btn-primary'