- model_class = Classified
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize

= form_for @search, :url => classifieds_path, :html => {method: :get,            |
  :class => 'form-horizontal'} do |s|
  = s.label :kind_eq
  = s.select :kind_eq, options_for_select(Classified::KINDS, @search.kind_eq),   |
     include_blank: true 

  %br
  = s.label :creator_name
  = s.text_field :user_first_name_contains
  = s.text_field :user_last_name_contains
  %br  
  %table
    %tr
      %td  
        = s.label :title_contains
        = s.text_field :title_contains
      %td
        = s.label :description_contains
        = s.text_field :description_contains
    %tr
      %td  
        = s.label :main_category_contains
        = s.text_field :main_category_name_contains
      %td
        = s.label :sub_category_contains
        = s.text_field :sub_category_name_contains
    %tr
      %td
        = s.label :location_like
        = s.text_field :country_name_like
  = s.label :price_range
  = s.multiparameter_field :price_between,                                    |
    {field_type: :text_field}, {field_type: :text_field}, size: 5
  %br
  = s.label :created_or_updated_during
  = s.multiparameter_field :created_at_or_updated_at_between,                 |
    {field_type: :text_field, class: 'date'}, {field_type: :text_field, class: 'date'}
  %br  
  = s.label :tags_contains
  = s.text_field :tags_contains
  %br
  = s.submit

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:kind)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:price)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:created_at)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @classifieds.each do |classified|
      %tr
        %td= link_to classified.id, classified_path(classified)
        %td= classified.kind
        %td= classified.title
        %td= classified.description
        %td= classified.price
        %td= classified.user_id
        %td= l classified.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")),   |
            edit_classified_path(classified), :class => 'btn btn-mini' 

          = link_to t('.destroy', :default => t("helpers.links.destroy")),   |
            classified_path(classified), :method => :delete,                 |
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm",  |
            :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), |
  new_classified_path, :class => 'btn btn-primary'