- model_class = Classified
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize

= form_for @search, :url => classifieds_path, :html => {method: :get,            |
  :class => 'form-horizontal'} do |s|
  = s.label :kind_eq
  = s.select :kind_eq, options_for_select(Classified::KINDS, @search.kind_eq),   |
     include_blank: true 
  %br
  = s.label :creator_name
  = s.text_field :user_first_name_contains
  = s.text_field :user_last_name_contains
  %br  
  %table
    %tr
      %td  
        = s.label :title_contains
        = s.text_field :title_contains
      %td
        = s.label :description_contains
        = s.text_field :description_contains
    %tr
      %td  
        = s.label :main_category_contains
        = s.text_field :main_category_name_contains
      %td
        = s.label :sub_category_contains
        = s.text_field :sub_category_name_contains
    %tr
      %td
        = s.label :location_like
        = s.text_field :country_name_like
  = s.label :price_range
  = s.text_field :price_gte
  = s.text_field :price_lte
  %br
  = s.label :created_or_updated_during
  = s.text_field :created_at_gte, :class => date
  = s.text_field :updated_at_lte, :class => date
  %br  
  = s.label :tags_contains
  = s.text_field :tags_contains
  %br
  = s.submit

= render('list_classifieds', model_class: model_class)
