- model_class = Classified
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize

= form_for @search, :url => classifieds_path, :html => {method: :get,            |
  :class => 'form-horizontal'} do |s|
  = s.radio_button :kind_eq, Classified::KINDS[0], checked: true
  = s.label :kind, Classified::KINDS[0], :class => 'inline-label'
  = s.radio_button :kind_eq, Classified::KINDS[1]
  = s.label :kind, Classified::KINDS[1], :class => 'inline-label'  
  %br
  = s.text_field :user_first_name_contains, placeholder: (t 'const.fname')
  = s.text_field :user_last_name_contains, placeholder: (t 'const.lname')
  %br  
  %table
    %tr
      %td  
        = s.text_field :title_contains, placeholder: (t 'const.title')
      %td
        = s.text_field :description_contains, placeholder: (t 'const.description') 
    %tr
      %td  
        = s.select(:main_category_name_contains, options_for_select(       |
          main_categories_names, @search.main_category_name_contains),     |
          include_blank: (t 'const.choose_main_category'))
      %td
        = s.select(:sub_category_name_contains, options_for_select(       |
          sub_categories_names(@search.main_category_name_contains),      |
          @search.sub_category_name_contains),                            |
          include_blank: (t 'const.choose_sub_category'))
    %tr
      %td
        = s.text_field :country_name_like, placeholder: (t 'const.location')
  %br
  = s.text_field :price_gte, placeholder: (t 'const.min_price')
  = s.text_field :price_lte, placeholder: (t 'const.max_price')
  %br
  = s.text_field :created_at_gte, placeholder: (t 'const.posted_after'), :class => 'date'
  = s.text_field :updated_at_lte, placeholder: (t 'const.posted_before'),:class => 'date'
  %br  
  = s.text_field :tags_contains, placeholder: (t 'const.tags')
  %br
  = s.submit

= render('list_classifieds', model_class: model_class)

= will_paginate(@classifieds)
