- model_class = Classified
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize

%fieldset
  %legend= t'.Search'
  = form_for @search, :url => owned_classifieds_path, :html => {method: :get,            |
    :class => 'form-horizontal'} do |s|
    = s.text_field :title_contains, placeholder: (t 'const.title')
    %br    
    = s.radio_button :kind_eq, Classified::KINDS[0], checked: true
    = s.label :wanted, t("const.#{Classified::KINDS[0].downcase}"), class: 'inline-label'
    = s.radio_button :kind_eq, Classified::KINDS[1]
    = s.label :for_sale, t("const.#{Classified::KINDS[1].downcase}"), class: 'inline-label'
    %br
    = s.text_field :country_name_contains, placeholder: (t 'const.location')
    %br    
    %strong= t 'const.refine_search'
    %br
    = select_field(s, @search, :main_category_id_eq, main_categories,   |
      'id', 'name',t('const.main_category'), 'select', true)
    = render('classifieds/sub_category_select', sub_categories: sub_categories(@search.main_category_id_eq), name: 'search[sub_category_id_eq]', selected_category: @search.sub_category_id_eq, element_id: 'search_sub_category_id_eq')
    %br
    = s.text_field :price_gte, placeholder: (t 'const.min_price')
    = s.text_field :price_lte, placeholder: (t 'const.max_price')
    %br
    = s.text_field :created_at_or_updated_at_gte, :class => 'date',             |
      placeholder: (t 'const.posted_on_or_after')
    %br   
    = s.submit

= render('list_classifieds', model_class: model_class)
= will_paginate(@classifieds)
