- model_class = Classified
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize

%fieldset
  %legend= t'.Search'
  = form_for @search, :url => owned_classifieds_path, :html => {method: :get,            |
    :class => 'form-horizontal'} do |s|
    = s.text_field :title_contains, placeholder: (t 'const.title')
    %br    
    = s.radio_button :kind_eq, Classified::KINDS[0], checked: true
    = s.label :kind, Classified::KINDS[0], :class => 'inline-label'
    = s.radio_button :kind_eq, Classified::KINDS[1]
    = s.label :kind, Classified::KINDS[1], :class => 'inline-label'
    %br
    = s.text_field :country_name_contains, placeholder: (t 'const.location')
    %br    
    %strong Refine Search
    %br
    = s.text_field :main_category_name_contains, placeholder: (t 'const.main_category')
    = s.text_field :sub_category_name_contains, placeholder: (t 'const.sub_category')
    %br
    = s.text_field :price_gte, placeholder: (t 'const.min_price')
    = s.text_field :price_lte, placeholder: (t 'const.max_price')
    %br
    = s.text_field :created_at_or_updated_at_gte, :class => 'date',             |
      placeholder: (t 'const.posted_on_or_after')
    %br   
    = s.submit

= render('list_classifieds', model_class: model_class)
