- model_class = Classified
%fieldset
  %legend= t'.Search'
  = form_for @search, :url => store_path, :html => {method: :get,            |
    :class => 'form-horizontal'} do |s|
    = s.text_field :title_contains, placeholder: (t 'const.title')
    %br    
    = s.radio_button :kind_eq, Classified::KINDS[0], checked: true
    = s.label :kind, Classified::KINDS[0], :class => 'inline-label'
    = s.radio_button :kind_eq, Classified::KINDS[1]
    = s.label :kind, Classified::KINDS[1], :class => 'inline-label'
    %br
    = s.text_field :country_name_contains, placeholder: (t 'const.location')
    %br    
    %strong Refine Search
    %br
    = s.select(:main_category_name_contains, options_for_select(       |
      main_categories_names, @search.main_category_name_contains),     |
      include_blank: (t 'const.choose_main_category'))
    = s.select(:sub_category_name_contains, options_for_select(       |
      sub_categories_names(@search.main_category_name_contains),      |
       @search.sub_category_name_contains),    |
      include_blank: (t 'const.choose_sub_category'))
    %br
    = s.text_field :price_gte, placeholder: (t 'const.min_price')
    = s.text_field :price_lte, placeholder: (t 'const.max_price')
    %br
    = s.text_field :created_at_or_updated_at_gte,                   |
      value: @search.created_at_or_updated_at_gte.try(:to_date), |
      :class => 'date', placeholder: (t 'const.posted_on_or_after')
    %br   
    = s.submit

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:image)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:category)
      %th= model_class.human_attribute_name(:kind)
      -if params[:order_by] == 'price DESC'
        %th= link_to model_class.human_attribute_name(:price),      |
          store_path(order_by: 'price')
      -else
        %th= link_to model_class.human_attribute_name(:price),      |
          store_path(order_by: 'price DESC')
      -if params[:order_by] == 'created_at DESC'
        %th= link_to model_class.human_attribute_name(:created_at),  |
          store_path(order_by: 'created_at')
      -else
        %th= link_to model_class.human_attribute_name(:created_at),  |
          store_path(order_by: 'created_at DESC')
  %tbody
    - @classifieds.each do |classified|
      %tr
        %td= image_tag classified.attachments.first.try(:file).try(:url,:thumb)
        %td= classified.title
        %td
          = classified.main_category.name
          %br
          = classified.sub_category.name
        %td= classified.kind
        %td= number_to_currency classified.price, unit: classified.currency.unit
        %td= l classified.created_at
= will_paginate(@classifieds)
        